.gallery {
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 0 48px;
}

@media all and (max-width: 1279px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
}

@media all and (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    padding: 0 24px;
  }
}

@media all and (max-width: 767px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 0 16px;
  }
}
