.navigation__link {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-in;
}

.navigation__link:hover {
  opacity: 0.8;
}

.navigation__link:active {
  opacity: 0.5;
}

@media all and (max-width: 767px) {
  .navigation__link {
    font-size: 24px;
  }
}
