.place {
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  padding: 40px 0;
}

@media all and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media all and (max-width: 1023px) {
  .place {
    gap: 48px 28px;
    padding: 36px 0;
  }
}

@media all and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 25px 0;
  }
}
